header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 150px;
  z-index: 1000;
}
header .navbar {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
header .navbar .container {
  margin: 0 auto;
  padding: 0 15px;
}
header .navbar .container .menu_content .navbar-header {
  display: none;
  float: right;
}
header .navbar .container .menu_content .navbar-header #check {
  display: none;
}
header .navbar .container .menu_content .navbar-header label {
  padding: 9px 10px;
}
header .navbar .container .menu_content .navbar-header span {
  cursor: pointer;
  background-color: #888;
  width: 22px;
  height: 2px;
  display: block;
  margin: 2px 0;
}
@media (max-width: 992px) {
  header .navbar .container .menu_content .navbar-header {
    display: block;
  }
}
header .navbar .container .menu_content .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header .navbar .container .menu_content .navbar-collapse ul li {
  position: relative;
}
header .navbar .container .menu_content .navbar-collapse ul li a {
  color: #444;
  font-size: 11px;
  display: block;
  font-weight: bold;
  letter-spacing: 1;
}
header .navbar .container .menu_content .navbar-collapse ul li a:hover {
  color: #da521e;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li {
  float: left;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li:hover ul {
  display: initial;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li:hover ul li > ul {
  display: none;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li:hover ul li > ul li > a {
  color: #444;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li a {
  text-transform: uppercase;
  padding: 20px 12px;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  display: none;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li a {
  padding: 20px 12px;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li:hover {
  background-color: #da521e;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li:hover a {
  color: #fff;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li:hover ul {
  display: initial;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li:hover ul li:hover > a {
  color: #fff;
}
header .navbar .container .menu_content .navbar-collapse .pull-left li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar .container .menu_content .navbar-collapse .pull-left::before {
  display: table;
  content: "";
}
header .navbar .container .menu_content .navbar-collapse .pull-right li {
  display: inline-block;
}
header .navbar .container .menu_content .navbar-collapse .pull-right li a img {
  display: inline-block;
  width: 18px;
  padding: 20px 0 20px 4px;
}
@media (max-width: 992px) {
  header .navbar .container .menu_content .navbar-collapse {
    display: block;
  }
  header .navbar .container .menu_content .navbar-collapse .p {
    display: none;
    width: 100%;
  }
  header .navbar .container .menu_content .navbar-collapse .p:hover ul {
    position: relative;
    width: 100%;
  }
  header .navbar .container .menu_content .navbar-collapse .p:hover ul li {
    background-color: #fff;
  }
  header .navbar .container .menu_content .navbar-collapse .p:hover ul li ul {
    width: 100%;
    left: 0;
  }
  header .navbar .container .menu_content .navbar-collapse .pull-right {
    display: none;
  }
}
@media (min-width: 992px) {
  header .navbar .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  header .navbar .container {
    width: 1170px;
  }
}
header .navbar .container #check:checked ~ .p {
  display: block;
}
@media (max-width: 992px) {
  header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
header .kotho-logo {
  text-align: center;
}
header .kotho-logo h1 {
  margin: 48px auto 55px;
  font-size: 36px;
}
header .kotho-logo h1 img {
  max-width: 100%;
  vertical-align: middle;
}/*# sourceMappingURL=header.css.map */